[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-registration-redux = "*"
pillow = "*"
django-extensions = "*"
psycopg2-binary = "*"
django-environ = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
