{% load static %}
<!DOCTYPE html>
<html lang="en" class="has-background-grey-lighter">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/itunes_API.js' %}" defer></script>
    <title>Document</title>
  </head>
  <body id="container" class="container is-fluid">
    <h2 id="page-title" class="title p-4 has-text-centered">
      🎵 🎤 Jerome's Album Collection 🎸 🥁
    </h2>
    {% include 'music/messages.html' %}
    <!-- whatever -->
    {% block content %}
    <!-- whatever -->
    {% endblock %}
    <script>
      setTimeout(function () {
        $('#msg').fadeOut('fast');
      }, 3000);
    </script>
  </body>
</html>
